# Dependencies
/node_modules

# Ignore compiled JS + sourcemaps from shared TS
apps/src/shared/**/*.js
apps/src/shared/**/*.js.map

# Ignore backend build output
apps/backend/dist/

# Ignore all build outputs in apps
apps/*/dist/

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore compiled JS/JS.map everywhere under apps/src
apps/src/**/*.js
apps/src/**/*.js.map

# Ignore frontend build output
apps/frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local

# IDE & OS files
.DS_Store
.vscode/
